In [2]:
import pandas as pd
import bs4 as bs

In [18]:
csvfname ='Identify Largest Crash_1 (CheckPoint2)_SNP500.csv'
df = pd.read_csv(csvfname,index_col = 0)
df.head(2)

,colName,ticker_min_list,ticker_max_list,Low_from_High_in_percentage,value_lost_in_percentage,current_price,current_P_from_PostCrashInMarch2020_%,current_P_from_PreCrashIn20Feb2020_%,PE_RATIO,marketCap,S&P_500
7,ZTS,92.660004,143.619995,0.645175,0.354825,231.449997,1.497841,0.611544,55.784523,109505.011712,True
21,ZION,24.080000,46.250000,0.520649,0.479351,63.209999,1.625000,0.366703,12.850172,10354.808832,True

In [19]:
df.drop(['Low_from_High_in_percentage', 'S&P_500'],axis=1,inplace=True)
df.head(2)

,colName,ticker_min_list,ticker_max_list,value_lost_in_percentage,current_price,current_P_from_PostCrashInMarch2020_%,current_P_from_PreCrashIn20Feb2020_%,PE_RATIO,marketCap
7,ZTS,92.660004,143.619995,0.354825,231.449997,1.497841,0.611544,55.784523,109505.011712
21,ZION,24.080000,46.250000,0.479351,63.209999,1.625000,0.366703,12.850172,10354.808832

In [20]:
colName=['tick', 'min', 'max', 'val_lost','Price', 'L_to_Price','H_to_Price', 'PE', 'MktCap']

In [22]:
df.columns = colName
df.reset_index(drop=True,inplace=True)
df

,tick,min,max,val_lost,Price,L_to_Price,H_to_Price,PE,MktCap
0,ZTS,92.660004,143.619995,0.354825,231.449997,1.497841,0.611544,55.784523,1.095050e+05
1,ZION,24.080000,46.250000,0.479351,63.209999,1.625000,0.366703,12.850172,1.035481e+04
2,ZBRA,161.509995,242.720001,0.334583,614.549988,2.805028,1.531930,51.508675,3.288537e+04
3,ZBH,80.629997,158.389999,0.490940,124.489998,0.543966,-0.214029,45.667645,2.595392e+04
4,YUM,56.520000,103.870003,0.455858,133.869995,1.368542,0.288822,35.803688,3.988000e+04
...,...,...,...,...,...,...,...,...,...
487,ABC,73.930000,97.000000,0.237835,123.129997,0.665494,0.269381,16.661705,2.562741e+04
488,ABBV,64.500000,94.959999,0.320767,125.470001,0.945271,0.321293,29.902287,2.218159e+05
489,AAP,75.029999,142.479996,0.473400,240.039993,2.199254,0.684728,24.44648,1.496774e+04
490,AAPL,56.092499,80.074997,0.299500,179.449997,2.199180,1.241024,31.98752,2.944129e+06
491,AAL,10.250000,28.510000,0.640477,18.010000,0.757073,-0.368292,AAL,1.166173e+04

In [24]:
df.sort_values(by=['val_lost'], ascending=False)

,tick,min,max,val_lost,Price,L_to_Price,H_to_Price,PE,MktCap
374,CZR,7.100000,69.470001,0.897798,88.980003,11.532395,0.280841,CZR,18570.039296
141,PENN,4.520000,38.169998,0.881582,48.959999,9.831858,0.282683,234.25836,7655.287296
452,APA,4.310000,28.580000,0.849195,26.670000,5.187935,-0.066830,1270,10080.539648
176,NCLH,7.770000,48.509998,0.839827,21.540001,1.772201,-0.555968,NCLH,7968.356864
324,FANG,15.560000,78.480003,0.801733,111.180000,6.145244,0.416667,FANG,20121.579520
...,...,...,...,...,...,...,...,...,...
223,LLY,119.050003,143.199997,0.168645,244.139999,1.050735,0.704888,36.547905,234136.371200
302,GILD,67.000000,80.220001,0.164797,70.250000,0.048507,-0.124283,292.70834,88106.139648
56,TTWO,100.150002,119.419998,0.161363,165.600006,0.653520,0.386702,32.53438,19237.918720
17,WMT,104.050003,122.580002,0.151167,141.029999,0.355406,0.150514,32.645832,395187.191808
388,COST,279.850006,324.079987,0.136479,558.820007,0.996855,0.724327,57.1449,247296.868352